<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}El Professor{% endblock %}</title>
        {% block stylesheets %}    
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {{ include('layout/menu.html.twig') }}
        </header>

        {% block main %}
            <main role="main">
                {% block body %}{% endblock %}
            </main>
        {% endblock %}

        {% block footer %}
            <footer class="text-muted">
                <div class="container">
                    <p class="float-right">
                        <a href="#"><i class="fas fa-angle-double-up"></i> revenir en haut</a>
                    </p>
                    <p class="text-secondary">Par <a href="https://www.twitter.com/tentacode">@tentacode</a>, <a href="https://github.com/tentacode/el-professor">voir sur github</a>.</p>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
