<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}El Professor{% endblock %}</title>
        {% block stylesheets %}    
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <i class="fas fa-border fa-glasses"></i>&nbsp;
                    <strong>El Professor</strong>
                </a>
                </div>
            </div>
        </header>

        <main role="main">
            {% block body %}{% endblock %}
        </main>

        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <a href="#"><i class="fas fa-angle-double-up"></i> revenir en haut</a>
                </p>
                <p>Par <a href="https://www.twitter.com/tentacode">@tentacode</a>, <a href="https://github.com/tentacode/el-professor">voir sur github</a>.</p>
            </div>
        </footer>

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
